    /*Colours:
    #286FDE -Darkest Blue
    #2AA6E8
    #31C5D1
    #2AE8C3 -greenie blue
    #28DE87 - greeniest 

    #585D5C - grey backgrounds
    #EB9414 - orange highlights
    #E7B975 - light orange

    Fonts:
    font-family: 'Crete Round',     serif;
    font-family: 'Knewave', cursive;
    font-family: 'Montserrat', sans-serif;

    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Stoke', serif;
*/
*{
    margin: 0;
    padding: 0;
    
}

body {
    margin:0;
    height: 100vh;
    background-color: rgba(49,197,209,1);
}

section{
    height:90vh;
    text-align: left;
}

/* Nav Styles */
nav {
 background-color: #585D5C;
  display: inline-block;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 10;

}
#navbar{
  position: fixed;
  top: 0px;
}

ul  {
  display: inline-block;
  }
  
ul a {
    display: inline-block;
white-space: nowrap;
  top: 0;
  overflow: auto;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
  padding: 12px;
   font-family: 'Crete Round', serif;
  text-align: center;
  font-weight: 500;
  color: #E7B975;
  background-position: center;
  transition: background 0.8s;
}

ul a:active{
  background-color: #585d5c6b;
  background-size: 130%;
  transition: background 0s;
}

#leftNav {
  float: left;
}

#leftNav img{
    vertical-align: center;
   height: 3em;
  margin: 5px;
  padding-right: 10px;
}



nav ul {
  position: relative;
  text-align: center;
}

nav li {
  display: inline-block;
  position: sticky;
  background: black;
  border-radius: 6px;
  border-color: #E7B975;
  border: 3px solid #E7B975 ;
  padding: 2px;

}


.adaLogo{
    display:inline-block;
}

#hashtag {
        font-family: 'Crete Round', serif;
        font-weight: 580;
        color: #fdfcfd;
        font-size: 2.5rem;
        display: inline-block;
        padding-top:5px;
        margin:0px;
        margin-bottom: 15px;
        padding: 10px 25px 0px 15px;
    }

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

/*General styles*/
h1, h2, h3, img {
    text-align: center;

}

h1, h2, h3 {
    color:white;
    font-family: 'Knewave', cursive;
    text-shadow:       
    3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;;
}
h2{
  font-size: 3.0rem;
}

h3{
    font-family: 'Raleway Dots', cursive;
    font-weight: 800;
}



body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}

html {
  scroll-behavior: smooth;
}

a{
     color: #fcab32;
     font-weight: 400;
      text-shadow:       
    3px 3px 0 rgba(0, 0, 0, 0.555),
     -1px -1px 0 rgba(0, 0, 0, 0.555),  
      1px -1px 0 rgba(0, 0, 0, 0.555),
      -1px 1px 0 rgba(0, 0, 0, 0.555),
       1px 1px 0 rgba(0, 0, 0, 0.555);;
}


.EvenSection{
    background: rgb(40,111,222);
    background: linear-gradient(180deg, rgba(40,111,222,1) 0%, rgba(42,166,232,1) 34%, rgba(49,197,209,1) 66%, rgba(42,232,195,1) 100%);
    position: relative;
    padding-bottom: 100px;
    }

    #whatIs{
      padding-bottom: 220px;
    }

    /*Title and Byline styling*/

.title {
    background-color: #31C5D1;
    height: 25vh;
    width: 100%;

}

.titleLeft{
    float: left;
    width: 50%;
    text-align: right;
}

.titleRight{
    float: right;
    width: 50%;
    text-align: left;
}

#heading h1, h2{
    color:white;
    font-family: 'Knewave', cursive;
    font-weight: 200;
}

#heading{
    height: 25vh;
    width: 100%;
    display:flex;
}

#heading h1{
    text-align: right;
    padding-top: 25px;
    font-size: 4rem;
    padding-right: 15px;
       text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    /*Shadow from CSS tricks (https://css-tricks.com/adding-stroke-to-web-text/)*/
}

#heading h2{
    text-align: left;
    padding-top: 5px;
    font-size: 2.5rem;
    padding-left: 15px;
         text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

/*Box Links */

    .BoxLinks {
      width: 100vw;
      height: 500px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 3px;
      background-color: #2196F3;
      position: relative;
      text-align: center;
    }

    #lb1 {
      grid-column: 1;
      grid-row: 1;
    }

    #lb2 {
      grid-column: 3;
      grid-row: 1;
    }

    #lb3 {
      grid-column: 1;
      grid-row: 2;
    }

    #lb4 {
      grid-column: 3;
      grid-row: 2;
    }

    .LinkBoxLg {
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    #lbMid {
      height: 500px;
    }
    #boxLinks a {
      text-decoration: none;
    }
    
    .centeredText:hover {
      visibility: hidden;
    }
    
    #boxLinks a:hover img {
      visibility: hidden;
    }
    
    .centeredText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .LinkBox {
      text-align: center;
      height: 250px;
      width: auto;
      position: inherit;
    }
    
    #BoxLinks img {
      height: 100%;
      width: auto;
      object-fit: cover;
      object-position: center;
    }
    
    .BoxLinks h3 {
      font-family: 'Crete Round', serif;
    }


.OddSection{
    text-align: left;
    background: rgb(40,111,222);
    background: linear-gradient(0deg, rgba(40,111,222,1) 0%, rgba(42,166,232,1) 34%, rgba(49,197,209,1) 66%, rgba(42,232,195,1) 100%);
    color: black;
    position: relative;
}

.imageSlide{
    width: 65%;
    height: auto;
    position:absolute;
    right:0;
    top:0;
    z-index: 0;
    object-fit: cover;
}

.imageSide{
    width: 50%;
    height: auto;
   position:absolute;
    right:0;
    top:0;
    z-index: 0;
}

.imageSide img {
    width:90%;
   position:absolute;
    right:0;
    top:0;
    height:auto;
    object-fit: contain;
}

.info{
    padding-top: 35px;
    padding-left: 15px;
    z-index: 5;
    position: relative;
    width: 50%;
    height: 80vh;
}

#atom{
    position:relative;
    padding: 2em 10em;
}

sl-card{
    background: none;
    padding-bottom: 5px;
}
sl-card h3{
        color: rgba(49,197,209,1);
    font-family: 'Knewave', cursive;
    text-shadow:       
    3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

sl-card p, sl-card ul{
    font-size: 1rem;      list-style-type: none;
}


.splide__slide{
    padding-right: 25px;
}
splide__slide img{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.badge-pulse sl-badge:not(:last-of-type) {
    margin-right: 1rem;
  }

  #compare{
      padding-top: 20vh;
      padding-left: 10vw;
  }

  #compare p{
       font-family: 'Raleway', sans-serif;
       font-style: italic;
  }
  #compare svg{
      padding-left: 5vw;
  }


/*Footer syles*/
.notes{
    font-size: 1rem;
    color: #E7B975;
    background-color:#000;
}

/*svg animations*/
#InnerElectrons{
    animation: spin 3s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#OuterElectrons{
    animation: spin 1s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
}

/*Return to Top styles*/
#r2t {
        position: sticky;
        bottom: 10px;
        align-items: baseline;
        text-align: right;
        padding-right: 15px;
        z-index: 20;
    }
    #svgR2t:hover{
    animation: spin 3s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#svgR2t:active{
    animation: spin 1s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}

#finalLinks{
    text-align: center;
}